software/models/classification_chamber_model.pt filter=lfs diff=lfs merge=lfs -text
software/models/feeder_model.pt filter=lfs diff=lfs merge=lfs -text
software/client/parts_with_categories.json filter=lfs diff=lfs merge=lfs -text
